__pycache__
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db

*.env
.env*
.envrc

.DS_Store
*.log
*.pot

*.git
*.gitignore
.git/

node_modules
npm-debug.log

staticfiles
media
venv
env
.venv
.idea
.vscode

docker-compose.override.yml
*.dev
Dockerfile
docker-compose*
# Keep text files except requirements.txt
!requirements.txt
